/*Let's make sure that the dimensions of any box includes its border and padding, this gives us an easy way of sizing our elements*/
* {
    box-sizing: border-box;
}

/*grid container*/
.container1{
    height: 100vh;
    background-color: #07575B;
/*    mention nested grids*/
    display: grid;
    grid-template-rows: repeat(4, 110px);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 5px;
    padding: 7px;
    
/*    alligning items vertically inside their rows--'allign-items'*/
/*    align-items: center;*/
    
/*    alligning items horizontally inside their columns.--'justify-items*/
    
/*    justify-items: center;*/
    
/*    placing items == align-items justify-items;*/
/*    placing items == ver hor;*/
    
    place-items: center center;
    
/*    aligning the whole grid vertically=='align-content'*/
/*    align-content: center;*/
    
/*    alligning the whole content horizontally=='justify-content'*/
/*    justify-content: center;*/
    
    place-content: center center;
}

/*grid items*/
div{
    background-color: #66a5AD;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

.apple{
    height: 100px;
}
.facebook{
    height: 80px;
}
.microsoft{
    height: 70px;
}
.samsung{
    height: 50px;
}
.google{
    height: 40px;
}
.amazon{
    height: 60px;
}
