/*lets make sure that the dimensions of any box includes its border and padding, it makes the process of sizing our elements easy.*/

* {
    box-sizing: border-box;
}

/*styling the container*/

.container {
    
    background-color: #07575B;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

/*style divs inside a container*/

.container > div {
  
  background-color: #66a5AD;
    text-align: center;
    padding: 20px;
    margin: 1px;
    color: aliceblue;
    border: 3px #C4DFE6 solid;
}