/*lets make sure that the dimensions of any box includes its border and padding, it makes the process of sizing our elements easy.*/

* {
    box-sizing: border-box;
}

/*styling the container*/

.container {
    
    background-color: #07575B;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
/*    aligning the flex items inside a flex box--- here row are alligned horizontally and coloums are alligned vertically*/
    
    justify-content: center;
    
/*    now in order to allign items for row vertically or horizontally for coloumns we use align-items property*/
    
    align-items: stretch;
    
/*    now inorder to allign rows and coloumns inside a flex box we use align-content property. when we allign rows -- these are alligned vertically and coloumns horizontally.*/
    
    align-content: center;
    
}

/*style divs inside a container*/

.container > div {
  
  background-color: #66a5AD;
    text-align: center;
    padding: 20px;
    margin: 1px;
    color: aliceblue;
    border: 3px #C4DFE6 solid;
/*
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
*/
    flex: 1 1 150px;
    
}

#facebook{
    font-size: 10px;
    flex-grow: 4;
}